{% extends 'base.html' %}

{% block main %}
<main>
    <div>
        <h1>
            <td> {{ todolist }} </td>
        </h1>
        <p>
            <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
        </p>
        <h2>Task</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todolist.items.all  %}
                <tr>
                    <td> 
                        <a href="{% url 'todo_item_update' task.pk %}">{{ task }}</a>
                    </td>
                    <td> {{ task.due_date|date:"M d, Y" }} </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock main %}