{% extends 'base.html' %}

{% block main %}
<main>
    <div>
        <h1> My lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for list in todolist_list.all %}
                <td>
                    <a href="{% url 'todo_list_detail' list.pk %}" >{{ list.name }} </a></td>
                <td>
                     {{ list.items.all | length }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock main %}