<!DOCTYPE html>
<html>
<head>
    <title>👌</title>
</head>
    <nav>
        <p>
            <a href="{% url 'todo_list_list' %}">Home</a>
        </p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
    </nav>
<body>
    {% block main %}
    {% endblock main %}
</body>

</html>